artifact_bucket_name        = "sentinelops-prod-artifacts-ACCOUNT_ID"
kms_key_arn                 = "arn:aws:kms:sa-east-1:ACCOUNT_ID:key/KEY_ID"
database_subnet_ids         = ["subnet-private-a", "subnet-private-b"]
database_security_group_ids = ["sg-sentinelops-postgres"]
